@*@using Team_KisaanPro.IServices
@using Team_KisaanPro.ModelClass
@inject IDataService DataService;
<h1>Check Environ</h1>

<table class="table">
    <thead>
        <tr>
        <td>ID</td>
        <td>DateTime</td>
        <td>Temperature</td>
        <td>pHLevel</td>
        <td>Humidity</td>
        <td>Device Status</td>
    </tr>
    </thead>
    <tbody>
        @foreach(var data in databases)
        {
            <tr>
                <td>@data.DeviceId</td>
                <td>@data.DateTime</td>
                <td>@data.Temperature</td>
                <td>@data.phLevel</td>
                <td>@data.Humidity</td>
                <td>@data.DeviceStatus</td>
            </tr>
        }
    </tbody>
    

</table>

@code{
    private List<SytemDatabase> databases;

    protected override void OnInitialized() => databases = DataService.GetSystemDatabase();
}*@