@page "/"
@using Microsoft.CognitiveServices.Speech
@using Twilio
@using Twilio.Rest.Api.V2010.Account

<PageTitle>Kisaan Pro</PageTitle>

<style>
    .MudButton{
        font-size: 3vw;
    }
</style>

<div class="Main" style="height:auto; width:100%; align-items: center;">
    <header>
        <div class="Header" style="display: flex; justify-content: space-between">
            
            <h7 class="LastUpdated"> Last Updated : 15 Jan 22 11:49 am</h7>
                
        </div>
    </header>
    <section class="SectionStart" >
        <div class="MainDashboard">
            <div class="AllNotificationsDiv" style="display: flex; justify-content:space-between;">
                
                
                <div class="SystemStatusDiv">
                    <MudButton Link="" Variant="Variant.Outlined" Style="background-color: white; color: black; width: auto ; height: 40px; border: 1px solid #B4B4B4;
                                                                         box-sizing: border-box;
                                                                         border-radius: 15px; " >System Status
                                                                        </MudButton>
                </div>           
                <div class="NotificationDiv">
                    <MudButton Link="" Variant="Variant.Outlined" Style="background-color: white; color: black; width: auto; height: 40px; border: 1px solid #B4B4B4;
                                                                         box-sizing: border-box;
                                                                         border-radius: 15px; " >Notifications</MudButton>
                </div>            
                <div class="ServerStatusDiv">
                    <MudButton Link="" Variant="Variant.Outlined" Style="background-color: white; color: black; width: auto; height: 40px; border: 1px solid #B4B4B4;
                                                                         box-sizing: border-box;
                                                                         border-radius: 15px;" >Server Status</MudButton>
                    <div class="u-custom-color-2 u-shape u-shape-circle u-shape-2"></div>
                </div>
            </div>

            <div class="RegisterDeviceDiv" style="display: flex; justify-content:space-between ; align:align-center">
          
                <MudTextField @bind-Value="TextValue" Label="Enter Device ID to add" style="width:auto; height: 50px;border: 1px solid #AFAFAF;
                                                                                            border-radius: 9px;" Variant="Variant.Filled"></MudTextField>
                <MudButton Link="" Variant="Variant.Outlined" Style=" color: white; margin-left:20px; width:35%; height: 50px;background: #3AB307;
                                                                     border-radius: 7.5px;" >Register</MudButton>
            </div>

            <br>
            <br>

            <div class="StausCheckDiv">
                <MudButton Link="" Variant="Variant.Outlined" Style="background-color: white; color: black; width: 30%; height: 30px; border: 1px solid #B4B4B4;
                                                                     box-sizing: border-box;
                                                                     border-radius: 15px;" >Check Your Device Status</MudButton>
                <MudButton Link="" Variant="Variant.Outlined" Style="background-color: white; color: black; width: 40%; height: 30px; border: 1px solid #B4B4B4;
                                                                     box-sizing: border-box;
                                                                     border-radius: 15px;" >Solar Powered Battery<span style="color: #3AB307;font-weight:600; margin-left:50px">80%</span></MudButton>
            </div>

            <br>

            <hr />

            <br>
            <br>

            <div class="StatusShowDiv">

            </div>       



            
            <div class="GraphAreaDiv">
                <MudButton Link="" Variant="Variant.Outlined" Style="color: white; width: 20%; height: 30px; background: #0075FF;
                                                                     border: 1px solid #0075FF;
                                                                     box-sizing: border-box;
                                                                     border-radius: 15px; " >Temperature</MudButton>
                <MudButton Link="" Variant="Variant.Outlined" Style="color: #B4B4B4; width: 20%; height: 30px; background: white;
                                                                     border: 1px solid #B4B4B4;
                                                                     box-sizing: border-box;
                                                                     border-radius: 15px;" >pH level</MudButton>
                <MudButton Link="" Variant="Variant.Outlined" Style="color: #B4B4B4; width: 20%; height: 30px; background: white;
                                                                     border: 1px solid #B4B4B4;
                                                                     box-sizing: border-box;
                                                                     border-radius: 15px;" >Humidity</MudButton>
                <div class="GraphsDiv" >
                    <div style="display:flex; justify-items:inherit;margin:10px">
                        <h2 class="DatatoShow">39 C</h2> 
                        <h7 class="Datawarning" style="color: Red; ">  Warning*</h7>
                    </div>
                    <div Style="height:100%; width:100%, border: 1px solid #000 ;margin:5px">
                        
                        <MudChart ChartType="ChartType.Line" ChartSeries="@Series" @bind-SelectedIndex="index" XAxisLabels="@XAxisLabels" style="height:400px" ChartOptions="chartOptions"></MudChart>
                    </div>

                    
                </div>
            
            </div>
            <br>

            <div class="RecommendationBoxDiv">
                <MudButton Link="" Variant="Variant.Outlined" Style="background: #0075FF; width:35%; height:30%; color: White;
                                                                     border: 1px solid #B4B4B4;
                                                                     box-sizing: border-box;
                                                                     border-radius: 15px; " >Recommendation Box</MudButton>
                <MudButton IconClass="@Icons.Filled.RecordVoiceOver" IconColor="Color.Primary" Variant=Variant.Filled Color="Color.Tertiary" OnClick="TTS">Speak</MudButton>
                <br>
                <div class="Box">
                    <div class="BoxText" style="border: 1.5px solid #C4C4C4;
                                                box-sizing: border-box;
                                                border-radius: 15px; padding:1%">
                        <p class="RecommendationText"> Past few days the temperature is above average, hence not suitable for better yeild. According to&nbsp;our  precipitation rate is 10mm/hr.&nbsp;The Water required in the feild would be 20L per 6 Hrs</p>
                    </div>
                </div>
            </div>
            <br> 
            <hr />
            <br>
            <div class="IrrigationDiv">
                <MudButton Variant="Variant.Outlined" Style="background-color: white; color: black; width: 30%; height: 30px; border-radius:15px " >Irrigation Pump Switches</MudButton>
                <br>
                <div class="a" style="display: flex; justify-content:space-between ">
                    <div style="align-items: baseline;" >
                        <MudButton Variant="Variant.Outlined" id="pump-start-btn" Style="font-size:3vw; width:200px; height:116px; border: 6px solid #3AB307; border-radius: 15px" OnClick="@(()=>MessagingService("Start"))" >Start</MudButton>
                        <h7 style="display:@_PumpStartMsg">Pump Started</h7>
                    </div>
                    
                    <div >
                        <MudButton Variant="Variant.Outlined" id="pump-stop-btn" Style="font-size:3vw; width:200px; height:116px; border: 6px solid red; border-radius: 15px" OnClick="@(()=>MessagingService("Stop"))" >Stop</MudButton>
                        <h7 runat="server" id="StopMssg" style="display:@_PumpStopMsg">Pump Stopped</h7>
                    </div>
                
                </div>
                
            </div>
        </div>
    </section>
</div>

@code{
    public string _PumpStartMsg="none";
    public string _PumpStopMsg="none";
    public string Time ;
    public string TextValue;
    public void LastUpdateTime(){
        // Reload Features & Functions

        Time = DateTime.Now.ToString("HH:mm:ss tt");
    }

    // TTS Function
    async void TTS()
    {
        var config = SpeechConfig.FromSubscription("a8064aa14212402a8bd27284fb3d99c3", "centralindia");
        using var synthesizer = new SpeechSynthesizer(config);
        await synthesizer.SpeakTextAsync("Past few days the temperature is above average, hence not suitable for better yeild. According to our model, precipitation rate is 10mm per hour.The Water required in the feild would be 20 Liters per 6 Hours");

    }

    // Using Messaging Service
    static void MessagingService( string Command )
    {
        string accountSid = "ACdabe31cf385a7f2499e5bb4705c8c9c5";
        string authToken = "e19cbfc5cf6c0cfc5b49f2c819434b3c";
        TwilioClient.Init(accountSid,authToken);

        if(Command != "Stop" ?true : false)
        {
            // To show and hide the messages and style the Start Tag
        }


        var message = MessageResource.Create(
           body: Command != "Stop" ? "Start" : "Stop",
           from: new Twilio.Types.PhoneNumber("+18063047362"),
           to: new Twilio.Types.PhoneNumber("+919971234477")); // Addition of User Number
        Console.WriteLine(message.Sid);
    }
    // Chart
     private int index = -1; //default value cannot be 0 -> first selectedindex is 0.

    public ChartOptions chartOptions = new ChartOptions();

    public List<ChartSeries> Series = new List<ChartSeries>()
    {
        new ChartSeries() { Name = "Temperature", Data = new double[] { 10, 12, 12,14,19, 22, 25 } },
    };
    public string[] XAxisLabels = {"28 Jan", "29 Jan", "30 Jan", "31 Jan", "1 Feb", "2 Feb" ,"3 Feb",};

   


}